{% block navbar %}

    <a href="/">Retour page d'accueil</a>
    <a class="nav-item nav-link" href="{{ path('program_index') }}">Programmes</a>
    <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
    <a class="nav-link" href="{{ path('actors_index') }}">Acteurs</a>


{% endblock %}

