{% extends 'base.html.twig' %}

{% block body %}
        <h1>Bienvenue !</h1>
        <div><a href="{{ path('season_index') }}">
                        Gérer une saison
                </a></div>
        <div><a href="{{ path('episode_index') }}">
                        Gérer un épisode
                </a></div>

{% endblock %}
